body{
    background-color: #0b2e50;
    font-family:arial;
}

h1{
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

p{
    text-align: justify;
    color: white;
    margin-left: 140px;
    margin-right: 140px;
    font-size: 20px;
}
a{
    text-align: justify;
    color: white;
    margin-left: 180px;
    font-size: 22px;

}

.bild100{
    position: relative;
    margin:auto auto;
    width:350px;
left:100px;
    bottom: 10px;
    border: none;
}


.dienstMitte{
    text-align:center;
    position: relative;
    margin:auto auto;
    right:90px;
    width:650px;

}
.bild200 {
    height: 100px;
    width: 100px;

}


