body {
    background-color: #0b2e50;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

p {
    text-align: justify;
    color: white;
    margin-left: 140px;
    margin-right: 140px;
    font-size: 20px;
}

a {
    text-align: justify;
    color: white;
    margin-left: 140px;
    font-size: 22px;
}

.bild600 {
    position: center;
}