
h1 {
    text-align: center;
    color: white;
}


p {
    text-align: center;
    color: white;
}

body {
    background: #0b2e50;
    text-align: center;
    alignment: center;
}

.click {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #f8f8f8;
    background: rgba(6, 100, 213, 0.73);
    border-radius: 15px;
    display: block;
    position: center;
    margin-bottom: 50px;
}