

.maincontainer {
    width:1100px;
    margin:auto auto;
    height:650px;

}
h1 {
    text-align: center;
    color: white;
}



body {
    background: #0b2e50;

}


.bilder13{


}

.bilder45{
    width:800px;
    margin:auto auto;
    margin-top:30px;
}

.captionBild1{
    text-align:center;
    color:white;
display:inline-block;
    width:350px;

}

.captionBild2{
    color:white;
    display:inline-block;
    width:350px;
    text-align:center;
}

.captionBild3{
    color:white;
    display:inline-block;
    width:350px;
    text-align:center;
}
