
h1 {
    text-align: center;
    color: white;
}


p {
    text-align: center;
    color: white;
}

body {
    background: #032B4F;
    text-align: center;
    alignment: center;
    font-family: Arial;
}